{% extends 'base.html' %}

{% block content %}
    <h2>Edit book in Library</h2>

    <form method="post">
        {% csrf_token %}
        <label>Book Name:-</label>
        <input type="text" name="nm" value="{{single_book.name}}" required><br><br>

        <label>Book Price:-</label>
        <input type="number" name="prc" value="{{single_book.price}}" required><br><br>

        <label>Book Qty:-</label>
        <input type="number" name="qty" value="{{single_book.qty}}" required><br><br>

        <label>Book is Published:-</label>
        
        {% if single_book.is_published == True %}
        Yes:- &nbsp;<input type="radio"value="Yes" name="is_pub" checked>&nbsp;
        No:- &nbsp;<input type="radio" value="No" name="is_pub"><br><br>
        {% else %}
        Yes:- &nbsp;<input type="radio"value="Yes" name="is_pub" >&nbsp;
        No:- &nbsp;<input type="radio" value="No" name="is_pub" checked><br><br>
        
        {% endif %}
        <input type="submit" class="btn btn-primary">
    </form>
{% endblock %}
    
